# Media / Data files
*.BIN
*.mov
*.mp4
*.psd
*.gif
*.fbr
*.csv
*.png
*.m1v
*.avi
*.m2v
*.wmv

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
